/*
Mengatur margin dan padding ke 0 serta box-sizing ke border-box untuk seluruh elemen.
Ini adalah praktik terbaik yang memastikan tata letak konsisten di berbagai browser
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
Memberikan latar belakang gelap pada halaman dan
menggunakan Flexbox untuk menempatkan kartu cuaca di tengah secara horizontal dan vertikal
*/
body {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*
Gaya untuk wadah utama aplikasi,
menggunakan linear-gradient untuk membuat latar belakang yang menarik,
border-radius untuk sudut yang membulat,
dan box-shadow untuk efek kedalaman
*/
.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Mengatur tampilan kotak input */
.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1; /* pada input akan membuatnya mengisi ruang yang tersisa */
    margin-right: 16px;
    font-size: 18px;
}

/* Mengatur tampilan tombol */
.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather {
    display: none; /* Hide the weather info by default */
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    color: #ff5555;
}